form.form-horizontal
  .control-group
    %label.control-label{for: :inputEmail } Username
    .controls
      %input#inputEmail{placeholder: "Username", type: "text", name: "username"}
  .control-group
    %label.control-label{for: :inputPassword } Password
    .controls
      %input#inputPassword{placeholder: "Password", type: "password", name: "password"}