%form{ :action =>'/edit/#{@edit_post['id']}', :method =>'post' }
  %label{for: "title"} Title:
  %input{type: "text", id: "title", name: "title" value:"#{@edit_post['title']}"}
  %li
    Content: <input type='text' name='content' value='#{@edit_post['content']}' >
  %li
    Created at: <input type='date' name='created_at' value='#{@edit_post['created_at']}' >
%button Submit!