!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Andrea's Blog
      %link{:href => "/bootstrap.css", :rel => "stylesheet"}
      %link{:href => "/style.css", :rel => "stylesheet"}
        %head
        %body
          %header
            %h1 Andrea's Blog
          = yield
          %footer
